body {
  margin: 0px;
  padding: 0px;
  background: #DDD;
  text-align: center;

  font-family: "Times New Roman";
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  color: #FFF;
}


.container {
  position: relative;
  display: inline-block;
  width: 90%;
  max-width: 1200px;
  margin-top: 3%;
  background: #FFF;
  box-shadow: 30px 30px 100px rgba(0,0,0,0.1);

}

.container:before {
  content: '';
  display: block;
  padding-top: 100%; /* 1:1 */
  padding-top: 50%; /* 2:1 */
  padding-top: 75%; /* 4:3 */
  padding-top: 56.25%; /* 16:9 */
}

.content {
  position: absolute;
  left: 0px;
  right: 0px;
  top:0px;
  bottom: 0px;
  text-align: left;

  display: flex;
  flex-direction: row; /* default */
  padding: 5px;
}

.box {
  flex: 1;
  background: #2196F3;
  margin: 5px;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: center;
}

.content.column {
  flex-direction: column;
}

.box:first-child {
  max-width: 100px;
}

.column .box:first-child {
  max-width: inherit;
}

.extra .box:first-child {
  max-width: inherit;
}


.extra {
  flex-direction: row;
}

.horizontal {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.vertical {
  display: flex;
  flex: 1;
  flex-direction: row;
}
