body {
  margin: 0px;
  padding: 0px;
}


.container {
  width: 800px;
  height: 350px;
  background: #FFE887;
  margin: 50px auto;
  padding: 50px;
  box-sizing: border-box;

  font-size: 24px;
  letter-spacing: 0.1em;
  line-height: 140%;
}

table {
  border-spacing: 10px;
  border-collapse: separate;
  width: 800px;
  margin: 50px auto;
}

td {
  height: 140px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #FFE887;
  font-size: 18px;
}

td:nth-child(2) {
  text-align: center; /*  horizontáslis */
  vertical-align: middle; /* vertikális */
}

td:nth-child(3) {
  text-align: right;
  vertical-align: bottom;
}

tr:nth-child(2) td {
  padding: 20px;
}

.extra1 {
  background: #CCCCCC !important;
  text-align: center !important;
  vertical-align: middle !important;
}

.extra2 {
  text-align: center;
  vertical-align: middle;
}

.textcontainer {
  width: 800px;
  margin: 50px auto;
  padding: 50px;
  box-sizing: border-box;
  background: #CCCCCC;
}

.textcontainer h1 {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 36px;
  font-weight: normal;
}

.textcontainer h2 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 28px;
  font-weight: bold;
  color: #828282;
}

.textcontainer p {
  margin: 15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 16px;
  line-height: 150%;
}

.textcontainer blockquote {
  margin: 50px 0px;
  padding: 30px;
  background: #FFFFFF;
  text-align: justify;
}

.textcontainer blockquote img {
  float: left;
  margin: 0px 20px 10px 0px;
}

.textcontainer ul, ol {
  margin: 0px;
  padding: 0px;
  margin-left: 16px;
  margin-bottom: 50px;
}

.textcontainer li {
  margin-bottom: 15px;
  line-height: 120%;
}

.testdiv {
  background: #FF0000;
}

.testspan {
  background: #00FF00;
}
