.fontLight {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}
.fontRegular {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
.fontMedium {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
.fontBold {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
.decorBold {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
}
.decorRegular {
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
}
.fontSizeHuge {
  font-size: 54px;
  line-height: 100%;
}
.fontSizeMedium {
  font-size: 20px;
  line-height: 100%;
}
.fontSizeRegular {
  font-size: 16px;
  line-height: 100%;
}
body {
  padding: 0px;
  margin: 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  color: #828282;
  font-size: 18px;
  line-height: 140%;
  background: #8B03E6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#8B03E6, #08E0FF);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8B03E6, #08E0FF);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8B03E6, #08E0FF);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8B03E6, #08E0FF);
  /* Standard syntax */
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-color: #E5E5E5;
}
.site-content {
  margin: 0px auto;
  padding: 0px 20px;
  width: auto;
  min-width: 800px;
  max-width: 1400px;
}
.button {
  display: block;
  color: #FFFFFF;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 100%;
  padding: 18px 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  background: #5E50EF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5E50EF, #7206BB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5E50EF, #7206BB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5E50EF, #7206BB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5E50EF, #7206BB);
  /* Standard syntax */
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}
.button i {
  float: left;
  position: relative;
}
.button i:before {
  position: absolute;
  top: -5px;
  left: 0px;
  font-size: 25px;
}
.input {
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 0px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset;
}
#sectionTop {
  min-height: 550px;
}
#sectionTop .site-content {
  text-align: center;
}
#sectionTop .logo {
  display: inline-block;
  text-decoration: none;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0);
}
#sectionTop .logo img {
  display: block;
  width: auto;
  height: 120px;
}
#sectionTop nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0);
}
#sectionTop nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 50px 0px 15px 0px;
  min-width: 600px;
}
#sectionTop nav ul li {
  display: inline-block;
  margin: 0px 1px;
  padding: 0px 0px 0px 0px;
  width: 40%;
  background: rgba(255, 255, 255, 0);
}
#sectionTop nav ul li a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
}
#sectionTop nav ul li:first-child {
  text-align: right;
  width: 20%;
}
#sectionTop nav ul li:last-child {
  text-align: left;
  width: 20%;
}
#sectionTop .sale h1 {
  margin: 100px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 54px;
  line-height: 100%;
  color: #FFFFFF;
}
#sectionTop .sale p {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
  letter-spacing: 0.16em;
}
#sectionProducts .box {
  display: inline-block;
  vertical-align: top;
  margin: 0px -3px 20px;
  padding: 20px 10px;
  box-sizing: border-box;
  width: 33%;
  transition: padding 400ms;
  transition-delay: 200ms;
}
#sectionProducts .product {
  background: #FFFFFF;
  padding: 25px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}
#sectionProducts .product .image {
  display: block;
  width: 100%;
  height: auto;
}
#sectionProducts .product .details {
  height: 160px;
  position: relative;
}
#sectionProducts .product .details h3 {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  color: #000000;
  font-size: 27px;
}
#sectionProducts .product .details .lead {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #828282;
  font-size: 16px;
  line-height: 160%;
}
#sectionProducts .product .details .price {
  margin-top: 15px;
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  font-size: 32px;
  color: #BDBDBD;
  text-align: right;
}
#sectionProducts .product .details .price b {
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  font-size: 20px;
}
#sectionProducts .product .details .button {
  position: absolute;
  bottom: -55px;
  left: 0px;
  right: 0px;
  transition: all 400ms;
  transition-delay: 200ms;
}
#sectionProducts .box:hover {
  padding: 20px 50px;
}
#sectionProducts .box:hover .product .details .button {
  bottom: -135px;
  left: -60px;
  right: -60px;
  padding: 24px 20px;
}
#sectionContact {
  margin: 100px 0px;
}
#sectionContact .tab {
  display: table;
  width: 100%;
}
#sectionContact .tab .cell {
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
#sectionContact .left {
  width: 35%;
  background: #FFFFFF;
  padding: 40px;
  position: relative;
}
#sectionContact .left h2 {
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
}
#sectionContact .left h3 {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #000000;
}
#sectionContact .left p {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #828282;
}
#sectionContact .left p span {
  display: inline-block;
  width: 80px;
}
#sectionContact .left p a {
  color: #4973F3;
  text-decoration: none;
}
#sectionContact .left p a:hover {
  text-decoration: underline;
}
#sectionContact .left .social-area {
  margin-top: 20px;
  height: 100px;
}
#sectionContact .left .social-area .social-cont {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 40px;
}
#sectionContact .left .social-area .cell {
  width: 33%;
  text-align: center;
  vertical-align: bottom;
}
#sectionContact .left .social-area .social-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: #F2F2F2;
  transition: background 500ms;
}
#sectionContact .left .social-area .social-link i {
  display: inline-block;
  margin-top: 12px;
  margin-left: 2px;
  font-size: 36px;
  color: #7206BB;
  transition: color 500ms;
}
#sectionContact .left .social-area .social-link:hover {
  background: #7206BB;
}
#sectionContact .left .social-area .social-link:hover i {
  color: #F2F2F2;
}
#sectionContact .right {
  padding: 30px 0px 0px 40px;
}
#sectionContact .right h2 {
  margin: 10px 0px 40px 0px;
  padding: 0px 0px 10px 0px;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 24px;
  color: #828282;
  border-bottom: 1px solid #828282;
}
form .row {
  margin: 0px 0px 12px 0px;
}
form .row span {
  display: block;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #828282;
  margin-bottom: 2px;
}
form .row input {
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 0px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset;
}
form .row textarea {
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 0px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset;
  padding: 15px 15px;
  height: 140px;
  resize: vertical;
}
form .cell:first-child {
  padding-right: 10px;
}
form .cell:last-child {
  padding-left: 10px;
}
form .button {
  box-sizing: border-box;
  border: none;
  width: 100%;
  background: #19BDF6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#19BDF6, #4E6BF2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#19BDF6, #4E6BF2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#19BDF6, #4E6BF2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#19BDF6, #4E6BF2);
  /* Standard syntax */
  text-align: left;
}
form .button i {
  float: right;
}
form .button i:before {
  position: absolute;
  top: -5px;
  right: 0px;
  left: inherit;
  font-size: 30px;
}
/* TABLET */
@media only screen and (min-width: 600px) and (max-width: 860px) {
  .site-content {
    margin: 0px auto;
    padding: 0px;
    width: auto;
    min-width: auto;
    max-width: auto;
  }
  #sectionTop nav ul {
    min-width: 500px;
  }
  #sectionProducts .site-content {
    padding: 0px;
    text-align: center;
  }
  #sectionProducts .box {
    width: 50%;
    transition: all 0ms;
  }
  #sectionProducts .box:hover {
    padding: 20px 10px;
  }
  #sectionProducts .box:hover .product .details .button {
    bottom: -55px;
    left: 0px;
    right: 0px;
    padding: 18px 20px;
    transition: all 0ms;
  }
  #sectionContact .bigtab {
    display: block;
    width: auto;
  }
  #sectionContact .bigtab .left,
  #sectionContact .bigtab .right {
    display: block;
    width: auto;
  }
  #sectionContact .bigtab .right {
    padding: 50px 30px 0px 30px;
  }
}
/* MOBILE */
@media only screen and (max-width: 600px) {
  .site-content {
    margin: 0px auto;
    padding: 0px;
    width: auto;
    min-width: auto;
    max-width: auto;
  }
  #sectionTop {
    min-height: 500px;
  }
  #sectionTop nav ul {
    min-width: auto;
    display: block;
    width: auto;
    text-align: center;
  }
  #sectionTop nav ul li {
    width: auto !important;
    padding: 0px 8px;
  }
  #sectionTop nav ul li a {
    font-size: 14px;
  }
  #sectionTop .sale h1 {
    font-size: 28px;
  }
  #sectionTop .sale p {
    font-size: 14px;
    letter-spacing: 0.08em;
  }
  #sectionProducts .site-content {
    padding: 0px;
    text-align: center;
  }
  #sectionProducts .box {
    width: 90%;
    transition: all 0ms;
  }
  #sectionProducts .box:hover {
    padding: 20px 10px;
  }
  #sectionProducts .box:hover .product .details .button {
    bottom: -55px;
    left: 0px;
    right: 0px;
    padding: 18px 20px;
    transition: all 0ms;
  }
  #sectionContact .bigtab {
    display: block;
    width: auto;
  }
  #sectionContact .bigtab .left,
  #sectionContact .bigtab .right {
    display: block;
    width: auto;
  }
  #sectionContact .bigtab .right {
    padding: 50px 30px 0px 30px;
  }
  #sectionContact .contact-form .tab {
    display: block;
    width: auto;
  }
  #sectionContact .contact-form .tab .cell {
    display: block;
    width: auto;
    padding: 0px !important;
  }
}
