// main: ./style.less

@bodyFont: 'Work Sans', sans-serif;
@decorFont: 'Old Standard TT', serif;

@white: #FFFFFF;
@black: #000000;
@purple: #7206BB;
@blue: #4973F3;

@textGray: #828282;

.fontLight {
  font-family: @bodyFont;
  font-weight: 200;
};

.fontRegular {
  font-family: @bodyFont;
  font-weight: 300;
};

.fontMedium {
  font-family: @bodyFont;
  font-weight: 400;
};

.fontBold {
  font-family: @bodyFont;
  font-weight: 600;
}

.decorBold {
  font-family: @decorFont;
  font-weight: 700;
}

.decorRegular {
  font-family: @decorFont;
  font-weight: 400;
}

.fontSizeHuge {
  font-size: 54px;
  line-height: 100%;
}

.fontSizeMedium {
  font-size: 20px;
  line-height: 100%;
}

.fontSizeRegular {
  font-size: 16px;
  line-height: 100%;
}

.gradientBackground(@top, @bottom) {
  background: @top; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(@top, @bottom); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(@top, @bottom); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(@top, @bottom); /* For Firefox 3.6 to 15 */
  background: linear-gradient(@top, @bottom); /* Standard syntax */
}

.testBgWhite() {
  background: rgba(255,255,255,0);
}

.testBgBlack() {
  background: rgba(0,0,0,0.3);
}

.boxShadow() {
  box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
}

@contMinWidth: 800px;
@contMaxWidth: 1400px;
@contPadding: 0px 20px;
