//out:  ../style.css, compress: false
@import "base.less";

body {
  padding: 0px;
  margin: 0px;

  .fontLight;
  color: @textGray;

  font-size: 18px;
  line-height: 140%;

  .gradientBackground(#8B03E6, #08E0FF);
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-color: #E5E5E5;
}

.site-content {
  margin: 0px auto;
  padding: @contPadding;
  width: auto;
  min-width: @contMinWidth;
  max-width: @contMaxWidth;
}


.button {
  display: block;
  color: @white;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 100%;
  padding: 18px 20px;
  .fontBold();
  .gradientBackground(#5E50EF, #7206BB);
  .boxShadow();

  i {
    float: left;
    position: relative;
  }

  i:before {
    position: absolute;
    top: -5px;
    left: 0px;
    font-size: 25px;
  }
}

.input {
  box-sizing: border-box;
  margin: 0px;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  .fontRegular();
  font-size: 16px;
  border: 0px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1) inset;
}


#sectionTop {
  min-height: 550px;

  .site-content {
    text-align: center;
  }

  .logo{
    display: inline-block;
    text-decoration: none;
    margin-top: 50px;
    .testBgWhite;

    img {
      display: block;
      width: auto;
      height: 120px;
    }
  }

  nav {
    border-bottom: 1px solid fade(@white, 30%);
    .testBgWhite;

    ul {
      display: inline-block;
      list-style-type: none;
      margin: 0px 0px 0px 0px;
      padding: 50px 0px 15px 0px;
      min-width: 600px;

      li {
        display: inline-block;
        margin: 0px 1px;
        padding: 0px 0px 0px 0px;
        width: 40%;
        .testBgWhite;

        a {
          .fontBold;
          .fontSizeRegular;
          color: @white;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          text-decoration: none;
        }
      }

      li:first-child {
        text-align: right;
        width: 20%;
      }

      li:last-child {
        text-align: left;
        width: 20%;
      }
    }
  }

  .sale {

    h1 {
      margin: 100px 0px 20px 0px;
      padding: 0px 0px 0px 0px;
      .decorBold;
      .fontSizeHuge;
      color: @white;
    }

    p{
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      .fontRegular;
      .fontSizeMedium;
      color: @white;
      letter-spacing: 0.16em;
    }
  }

}

#sectionProducts {
  .box {
    display: inline-block;
    vertical-align: top;
    margin: 0px -3px 20px;
    padding: 20px 10px;
    box-sizing: border-box;
    width: 33%;
    transition: padding 400ms;
    transition-delay: 200ms;
    //.testBgBlack();
  }

  .product {
    background: @white;
    padding: 25px;
    .boxShadow();

    .image{
      display: block;
      width: 100%;
      height: auto;
    }

    .details {
      height: 160px;
      position: relative;

      h3 {
        margin: 0px 0px 10px 0px;
        padding: 0px 0px 0px 0px;
        .decorRegular();
        color: @black;
        font-size: 27px;
      }

      .lead {
        .fontRegular();
        color: @textGray;
        font-size: 16px;
        line-height: 160%;
      }

      .price {
        margin-top: 15px;
        .decorRegular();
        font-size: 32px;
        color: #BDBDBD;
        text-align: right;

        b {
          .decorRegular();
          font-size: 20px;
        }
      }

      .button {
        position: absolute;
        bottom: -55px;
        left: 0px;
        right: 0px;
        transition: all 400ms;
        transition-delay: 200ms;
      }
    }
  }

  .box:hover {
    padding: 20px 50px;

    .product .details .button {
      bottom: -135px;
      left: -60px;
      right: -60px;
      padding: 24px 20px;
    }
  }
}

#sectionContact {
  margin: 100px 0px;

  .tab {
    display: table;
    width: 100%;

    .cell {
        display: table-cell;
        text-align: left;
        vertical-align: top;
    }
  }

  .left {
    width: 35%;
    background: @white;
    padding: 40px;
    position: relative;

    h2 {
      margin: 0px 0px 40px 0px;
      padding: 0px 0px 0px 0px;
      .decorBold();
      font-size: 24px;
      color: @black;
    }

    h3 {
      margin: 0px 0px 10px 0px;
      padding: 0px 0px 0px 0px;
      .fontRegular();
      font-size: 24px;
      color: @black;
    }

    p {
      margin: 0px 0px 10px 0px;
      padding: 0px 0px 0px 0px;
      .fontRegular();
      font-size: 18px;
      line-height: 160%;
      color: @textGray;

      span {
        display: inline-block;
        width: 80px;
      }

      a {
        color: @blue;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }


    .social-area {
      margin-top: 20px;
      height: 100px;

      .social-cont {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 40px;
      }

      .cell {
        width: 33%;
        text-align: center;
        vertical-align: bottom;
      }

      .social-link {
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 60px;
        background: #F2F2F2;
        transition: background 500ms;

        i {
          display: inline-block;
          margin-top: 12px;
          margin-left: 2px;
          font-size: 36px;
          color: @purple;
          transition: color 500ms;
        }
      }

      .social-link:hover {
        background: @purple;
        i {
          color: #F2F2F2;
        }
      }
    }
  }

  .right {
    padding: 30px 0px 0px 40px;

    h2 {
      margin: 10px 0px 40px 0px;
      padding: 0px 0px 10px 0px;
      .decorBold();
      font-size: 24px;
      color: @textGray;
      border-bottom: 1px solid @textGray;
    }
  }

}


form {
  .row {
    margin: 0px 0px 12px 0px;

    span {
      display: block;
      .fontMedium();
      font-size: 14px;
      color: @textGray;
      margin-bottom: 2px;
    }

    input {
      .input();
    }

    textarea {
      .input();
      padding: 15px 15px;
      height: 140px;
      resize: vertical;
    }
  }

  .cell:first-child {
    padding-right: 10px;
  }

  .cell:last-child {
    padding-left: 10px;
  }

  .button {
    box-sizing: border-box;
    border: none;
    width: 100%;
    .gradientBackground(#19BDF6, #4E6BF2);
    text-align: left;

    i {
      float: right;
    }

    i:before {
    position: absolute;
      top: -5px;
      right: 0px;
      left: inherit;
      font-size: 30px;
  }
  }
}


/* TABLET */

@media only screen and (min-width: 600px) and (max-width: 860px) {
  @contPadding: 0px 10px;

  .site-content {
    margin: 0px auto;
    padding: 0px;
    width: auto;
    min-width: auto;
    max-width: auto;
  }

  #sectionTop nav ul {
    min-width: 500px;
  }

  #sectionProducts {
    .site-content {
      padding: 0px;
      text-align: center;
    }
    .box{
      width: 50%;
      transition: all 0ms;
    }

    .box:hover {
      padding: 20px 10px;

      .product .details .button {
        bottom: -55px;
        left: 0px;
        right: 0px;
        padding: 18px 20px;
        transition: all 0ms;
      }
    }
  }

  #sectionContact {
    .bigtab {
      display: block;
      width: auto;

      .left, .right {
        display: block;
        width: auto;
      }

      .right {
        padding: 50px 30px 0px 30px;
      }
    }
  }


}

/* MOBILE */

@media only screen and (max-width: 600px) {

  .site-content {
    margin: 0px auto;
    padding: 0px;
    width: auto;
    min-width: auto;
    max-width: auto;
  }

  #sectionTop {
    min-height: 500px;

    nav {
      ul {
        min-width: auto;
        display: block;
        width: auto;
        text-align: center;

        li {
          width: auto !important;
          padding: 0px 8px;

          a {
            font-size: 14px;
          }
        }
      }
    }

    .sale {
      h1 {
        font-size: 28px;
      }

      p {
        font-size: 14px;
        letter-spacing: 0.08em;
      }
    }
  }

  #sectionProducts {
    .site-content {
      padding: 0px;
      text-align: center;
    }
    .box{
      width: 90%;
      transition: all 0ms;
    }

    .box:hover {
      padding: 20px 10px;

      .product .details .button {
        bottom: -55px;
        left: 0px;
        right: 0px;
        padding: 18px 20px;
        transition: all 0ms;
      }
    }
  }

  #sectionContact {
    .bigtab {
      display: block;
      width: auto;

      .left, .right {
        display: block;
        width: auto;
      }

      .right {
        padding: 50px 30px 0px 30px;
      }
    }

    .contact-form {
      .tab {
        display: block;
        width: auto;

        .cell {
            display: block;
            width: auto;
            padding: 0px !important;
        }
      }
    }
  }


}
