body {
  margin: 0px;
  padding: 0px;
  margin-bottom: 3%;
  background: #DDDDDD;
  text-align: center;

  font-family: "Times New Roman";
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  color: #FFF;
}

.container {
  position: relative;
  display: inline-block;

  width: 90%;
  max-width: 1000px;
  margin-top: 3%;

  background: #FFF;
  box-shadow: 30px 30px 100px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  border-radius: 3vw;
}

.container:before {
    content: '';
    display: block;
    padding-top: 100%; /* 1:1 */
    padding-top: 50%; /* 2:1 */
    padding-top: 75%; /* 4:3 */
    padding-top: 56.25%; /* 16:9 */
}

.content{
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: left;
  /* flex-box */
  display: flex;
  flex-direction: row; /* default */
  padding: 5px;
}

.box {
  flex: 1;
  background: #2196F3;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 20px;
  border-radius: 2.5vw;
}

.content.column {
  flex-direction: column;
}

.box:first-child {
  max-width: 100px;
}

.column .box:first-child {
  max-width: inherit;
  max-height: 100px;
}

.extra .box:first-child {
  max-width: inherit;
}

.extra {
  flex-direction: row;
}

.horizontal {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.vertical {
  flex: 1;
  display: flex;
  flex-direction: row;
}
