.fontLight {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}
.fontRegular {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
.fontBold {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
.decorFont {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
}
body,
html {
  height: 100%;
}
body {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  background: #7206BB;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#7206BB, #4973F3);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#7206BB, #4973F3);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#7206BB, #4973F3);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#7206BB, #4973F3);
  /* Standard syntax */
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-color: #e5e5e5;
  /*
  background-image: url(http://nextluxury.com/wp-content/uploads/traditional-flower-tattoo-designs-for-men.jpg);
  background-repeat: no-repeat;
  //background-position: 50px 100px;
  background-position: center;
  background-size: cover;
  //top bottom center, left right center;
*/
}
.site-content {
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
}
#sectionTop .site-content {
  text-align: center;
}
#sectionTop .logo {
  display: inline-block;
  margin: 50px auto 50px auto;
}
#sectionTop h1 {
  margin: 100px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  color: #FFFFFF;
  font-size: 54px;
  text-transform: uppercase;
}
#sectionTop p {
  margin: 10px 0px 0px 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 0.2em;
}
.button {
  display: block;
  padding: 16px 20px;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: right;
  text-decoration: none;
  background: #5E50EF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5E50EF, #7206BB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5E50EF, #7206BB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5E50EF, #7206BB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5E50EF, #7206BB);
  /* Standard syntax */
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}
nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
}
nav ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  list-style-type: none;
  padding-top: 50px;
}
nav ul li {
  display: inline-block;
  margin: 0px 20px;
}
nav ul li a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
}
#sectionProducts {
  padding-top: 100px;
  padding-bottom: 100px;
}
#sectionProducts .box {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  min-width: 300px;
  margin: -1px;
  margin-bottom: 30px;
}
#sectionProducts .box .product {
  margin: 10px;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}
#sectionProducts .box .product img {
  width: 100%;
  height: auto;
}
#sectionProducts .box .product .details {
  height: 100px;
  text-align: left;
  position: relative;
}
#sectionProducts .box .product .details h2 {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  margin: 0px;
  padding: 0px;
}
#sectionProducts .box .product .details p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 16px;
  color: #828282;
  margin: 0px;
  padding: 0px;
  padding-right: 40px;
}
#sectionProducts .box .product .details .price {
  position: absolute;
  right: 0px;
  bottom: 10px;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
}
#sectionProducts .box .product .details .price span {
  font-size: 16px;
}
#sectionProducts .box .product .details .button {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -45px;
}
#sectionProducts .box .product .details .button i {
  float: left;
  position: relative;
}
#sectionProducts .box .product .details .button i:before {
  position: absolute;
  font-size: 24px;
  top: -4px;
}
#sectionContact {
  padding-bottom: 100px;
}
#sectionContact .tab {
  display: table;
  width: 100%;
}
#sectionContact .tab .cell {
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
#sectionContact .right {
  background: rgba(0, 0, 0, 0.1);
  height: 600px;
}
#sectionContact .left {
  background: #FFFFFF;
  padding: 40px;
  width: 40%;
}
#sectionContact .left h2 {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;
  margin: 0px;
  padding: 0px;
  margin-bottom: 50px;
}
#sectionContact .left h3 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 28px;
  color: #000000;
  margin: 0px;
  padding: 0px;
}
#sectionContact .left p {
  line-height: 140%;
  color: #828282;
}
#sectionContact .left .social-area .cell {
  text-align: center;
}
#sectionContact .left .social-area a {
  text-decoration: none;
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #f2f2f2;
  border-radius: 60px;
  text-align: center;
}
#sectionContact .left .social-area a i {
  font-size: 36px;
  color: #7206BB;
  display: inline-block;
  margin-top: 10px;
}
@media only screen and (min-width: 700px) and (max-width: 1050px) {
  #sectionProducts {
    text-align: center;
  }
  #sectionProducts .box {
    width: 50%;
    max-width: 360px;
    margin: -3px;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 699px) {
  #sectionProducts .box {
    display: block;
    width: auto;
    max-width: 360px;
    margin: 0px auto 60px auto;
  }
}
