.fontLight {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}
.fontRegular {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
.fontBold {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
.decorBold {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
}
.decorRegular {
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
}
body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  color: #4973F3;
  background: #8B03E6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#8B03E6, #08E0FF);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#8B03E6, #08E0FF);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#8B03E6, #08E0FF);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#8B03E6, #08E0FF);
  /* Standard syntax */
  background-color: #E5E5E5;
  background-repeat: no-repeat;
  background-size: 100% 700px;
}
.site-content {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
.button {
  display: block;
  color: #FFFFFF;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 100%;
  padding: 18px 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  background: #5E50EF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5E50EF, #7206BB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5E50EF, #7206BB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5E50EF, #7206BB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5E50EF, #7206BB);
  /* Standard syntax */
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
.button i {
  float: left;
  position: relative;
}
.button i:before {
  position: absolute;
  font-size: 25px;
  top: -5px;
  left: 0;
}
#sectionTop {
  text-align: center;
}
#sectionTop .logo {
  display: inline-block;
  margin: 70px 0px 70px 0px;
}
#sectionTop nav ul {
  margin: 0;
  padding: 0 0 10px 0;
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#sectionTop nav ul li {
  display: inline-block;
  margin: 0 20px;
  padding: 0;
}
#sectionTop nav ul li a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
#sectionTop .sale h1 {
  margin: 70px 0 10px 0;
  padding: 0;
  color: #FFFFFF;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 54px;
  text-transform: uppercase;
}
#sectionTop .sale p {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 20px;
  letter-spacing: 0.15em;
}
#sectionProducts {
  padding-top: 100px;
  text-align: center;
}
#sectionProducts .box {
  perspective: 500px;
  display: inline-block;
  width: 33%;
  padding: 20px 10px;
  margin: 0px -3px 20px;
  box-sizing: border-box;
  vertical-align: top;
  text-align: left;
}
#sectionProducts .box .product {
  background: #FFFFFF;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 25px;
  transition: all 500ms;
  transition-delay: 0ms;
}
#sectionProducts .box .product .image {
  display: block;
  width: 100%;
  height: auto;
}
#sectionProducts .box .product .details {
  height: 160px;
  position: relative;
}
#sectionProducts .box .product .details .button {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  transition: all 500ms;
  transition-delay: 0ms;
}
#sectionProducts .box .product .details h3 {
  margin: 0;
  padding: 0;
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  color: #000000;
  font-size: 27px;
}
#sectionProducts .box .product .details .lead {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #828282;
  margin-top: 15px;
  padding-right: 50px;
}
#sectionProducts .box .product .details .price {
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  font-size: 32px;
  color: #bdbdbd;
  text-align: right;
}
#sectionProducts .box .product .details .price b {
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  font-size: 20px;
}
#sectionProducts .box:hover .product {
  transform: scale(0.8);
  transition-delay: 250ms;
}
#sectionProducts .box:hover .product .details .button {
  transform: scale(1.25) translateY(53px);
  transition-delay: 250ms;
}
#sectionContact {
  margin: 100px 0px;
}
#sectionContact .tab {
  display: table;
  width: 100%;
}
#sectionContact .tab .cell {
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
#sectionContact .left {
  background: #FFFFFF;
  width: 35%;
  padding: 40px;
  position: relative;
}
#sectionContact .left h2 {
  margin: 0 0 40px 0;
  padding: 0;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-transform: uppercase;
}
#sectionContact .left h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 24px;
}
#sectionContact .left p {
  margin: 0 0 10px 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: #828282;
  font-size: 18px;
  line-height: 160%;
}
#sectionContact .left p span {
  display: inline-block;
  width: 80px;
  color: #000000;
}
#sectionContact .left p a {
  color: #4973F3;
  text-decoration: none;
}
#sectionContact .left p a:hover {
  text-decoration: underline;
}
#sectionContact .left .social-area {
  margin-top: 20px;
  height: 100px;
}
#sectionContact .left .social-area .social-container {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 40px;
}
#sectionContact .left .social-area .social-container .cell {
  width: 33%;
  text-align: center;
  vertical-align: bottom;
}
#sectionContact .left .social-area .social-container .cell .social-link {
  display: inline-block;
  background: #f2f2f2;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  transition: all 250ms;
}
#sectionContact .left .social-area .social-container .cell .social-link i {
  display: inline-block;
  font-size: 36px;
  color: #7206BB;
  margin-top: 10px;
  margin-left: 2px;
  transition: all 250ms;
}
#sectionContact .left .social-area .social-container .cell .social-link:hover {
  background: #7206BB;
}
#sectionContact .left .social-area .social-container .cell .social-link:hover i {
  color: #FFFFFF;
}
#sectionContact .right {
  padding: 30px 0px 0px 40px;
}
#sectionContact .right h2 {
  margin: 10px 0px 40px 0px;
  padding: 0px 0px 10px 0px;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 24px;
  color: #828282;
  border-bottom: 1px solid #828282;
  text-transform: uppercase;
}
.input {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset;
}
form .row {
  margin: 0px 0px 12px 0px;
}
form .row span {
  display: block;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #828282;
  margin-bottom: 2px;
}
form .row input {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset;
}
form .row textarea {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1) inset;
  padding: 15px;
  height: 140px;
  resize: vertical;
}
form .button {
  border: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  background: #19BDF6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#19BDF6, #4E6BF2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#19BDF6, #4E6BF2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#19BDF6, #4E6BF2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#19BDF6, #4E6BF2);
  /* Standard syntax */
}
form .button i {
  float: right;
  padding-right: 20px;
}
form .tab .cell:first-child {
  padding-right: 10px;
}
form .tab .cell:last-child {
  padding-left: 10px;
}
@media only screen and (min-width: 770px) and (max-width: 1050px) {
  #sectionProducts .box {
    width: 50%;
  }
}
@media only screen and (max-width: 1200px) {
  #sectionContact .tab.wrapper {
    display: block;
    width: auto;
  }
  #sectionContact .tab.wrapper .left,
  #sectionContact .tab.wrapper .right {
    display: block;
    width: auto;
  }
  #sectionContact .tab.wrapper .right {
    padding-left: 0;
  }
}
@media only screen and (max-width: 770px) {
  #sectionTop nav ul li {
    margin: 0 6px;
  }
  #sectionTop nav ul li a {
    font-size: 14px;
  }
  #sectionTop .sale h1 {
    font-size: 28px;
  }
  #sectionTop .sale p {
    font-size: 14px;
  }
  #sectionProducts .box {
    width: 100%;
  }
  #sectionProducts .box .product .details {
    height: 180px;
  }
  #sectionContact .tab.inputs {
    display: block;
    width: auto;
  }
  #sectionContact .tab.inputs .cell {
    display: block;
    width: auto;
    padding: 0;
  }
}
@media only screen and (max-width: 800px) {
  #sectionProducts .box:hover .product {
    transform: none;
  }
  #sectionProducts .box:hover .product .details .button {
    transform: none;
  }
  .social-link:hover {
    background: #f2f2f2 !important;
  }
  .social-link:hover i {
    color: #7206BB !important;
  }
}
