// main: ./style.less

@bodyFont: 'Work Sans', sans-serif;
@decorFont: 'Old Standard TT', serif;

@white: #FFFFFF;
@black: #000000;
@purple: #7206BB;
@blue: #4973F3;
@gray: #828282;


.fontLight {
  font-family: @bodyFont;
  font-weight: 200;
}

.fontRegular {
  font-family: @bodyFont;
  font-weight: 400;
}

.fontBold {
  font-family: @bodyFont;
  font-weight: 600;
}

.decorFont {
  font-family: @decorFont;
  font-weight: 700;
}

.gradientBackground(@top, @bottom) {
  background: @top; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(@top, @bottom); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(@top, @bottom); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(@top, @bottom); /* For Firefox 3.6 to 15 */
  background: linear-gradient(@top, @bottom); /* Standard syntax */
}
