//out: ../style.css, compress: false
@import "base.less";

body, html {
  height: 100%
}

body {
  .fontRegular;
  margin: 0px;
  padding: 0px;
  .gradientBackground(@purple, @blue);
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-color: #e5e5e5;

/*
  background-image: url(http://nextluxury.com/wp-content/uploads/traditional-flower-tattoo-designs-for-men.jpg);
  background-repeat: no-repeat;
  //background-position: 50px 100px;
  background-position: center;
  background-size: cover;
  //top bottom center, left right center;
*/
}

.site-content {
  //width: 800px;
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
}

#sectionTop {
  .site-content {
    text-align: center;
  }

  .logo {
    display: inline-block;
    margin: 50px auto 50px auto;
  }

  h1 {
    margin: 100px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    .decorFont;
    color: @white;
    font-size: 54px;
    text-transform: uppercase;
  }

  p {
    margin: 10px 0px 0px 0px;
    .fontLight;
    font-size: 24px;
    color: @white;
    letter-spacing: 0.2em;
  }
}

.button {
  display: block;
  padding: 16px 20px;
  font-size: 14px;
  .fontBold;
  color: @white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: right;
  text-decoration: none;
  .gradientBackground(#5E50EF, #7206BB);
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}

nav {
  border-bottom: 1px solid rgba(255,255,255,0.5);
  padding-bottom: 20px;

  ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    list-style-type: none;
    padding-top: 50px;

    li {
      display: inline-block;
      margin: 0px 20px;

      a {
        .fontBold;
        color: @white;
        font-size: 16px;
        letter-spacing: 0.1em;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }
}


#sectionProducts {
  padding-top: 100px;
  padding-bottom: 100px;

  .box {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    min-width: 300px;
    margin: -1px;
    margin-bottom: 30px;

    .product {
      margin: 10px;
      padding: 20px;
      background: @white;
      box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
      text-align: center;

      img {
        width: 100%;
        height: auto;
      }

      .details {
        height: 100px;
        text-align: left;
        position: relative;

        h2 {
          .decorFont;
          font-size: 24px;
          color: @black;
          margin: 0px;
          padding: 0px;
        }

        p {
          .fontLight;
          font-size: 16px;
          color: #828282;
          margin: 0px;
          padding: 0px;
          padding-right: 40px;
        }

        .price {
          position: absolute;
          right: 0px;
          bottom: 10px;
          .decorFont;
          font-size: 24px;
          color: rgba(0,0,0,0.3);
          text-align: right;

          span {
            font-size: 16px;
          }
        }

        .button {
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: -45px;
          i {
            float: left;
            position: relative;
          }

          i:before {
            position: absolute;
            font-size: 24px;
            top:-4px;
          }
        }
      }
    }

  }

}

#sectionContact {
  padding-bottom: 100px;

  .tab {
    display: table;
    width: 100%;
    .cell {
      display: table-cell;
      text-align: left;
      vertical-align: top;
    }
  }

  .right {
    background: rgba(0, 0, 0, 0.1);
    height: 600px;
  }

  .left {
    background: @white;
    padding: 40px;
    width: 40%;

    h2 {
      .decorFont;
      font-size: 24px;
      text-transform: uppercase;
      color: @black;
      margin: 0px;
      padding: 0px;
      margin-bottom: 50px;
    }

    h3 {
      .fontLight;
      font-size: 28px;
      color: @black;
      margin: 0px;
      padding: 0px;
    }

    p {
      line-height: 140%;
      color: @gray;
    }

    .social-area {

      .cell {
        text-align: center;
      }

      a {
        text-decoration: none;
        display: inline-block;
        width: 60px;
        height: 60px;
        background: #f2f2f2;
        border-radius: 60px;
        text-align: center;

        i {
          font-size: 36px;
          color: @purple;
          display: inline-block;
          margin-top: 10px;
        }
      }
    }

  }

}






@media only screen and (min-width: 700px) and (max-width: 1050px) {
  #sectionProducts {
    text-align: center;

    .box {
      width: 50%;
      max-width: 360px;
      margin: -3px;
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 699px) {
  #sectionProducts {
    .box {
      display: block;
      width: auto;
      max-width: 360px;
      margin: 0px auto 60px auto;
    }
  }
}
