body {
  padding: 0px;
  margin: 0px;
}


.container {
  background: #FFE887;
  height: 350px;
  width: 800px;
  padding: 30px;
  margin: 50px auto;
  /*margin: 50px;
  margin: 20px 30px;
  margin: 10px 20px 30px 40px;*/

  box-sizing: border-box;

  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 120%;
}

.mytable {
  border-spacing: 10px;
  border-collapse: separate;
  width: 820px;
  margin: 60px auto;
}

.mytable td{
  border: 1px solid #FFE887;
  width: 33%;
  height: 140px;
  text-align: left;
  vertical-align: top;
}


.mytable td:nth-child(2) {
  text-align: center;
  vertical-align: middle;
}

.mytable td:last-child {
  text-align: right;
  vertical-align: bottom;
}

.mytable tr:nth-child(2) td {
  padding: 15px;
  box-sizing: border-box;
}

.mytable td.extra1, .mytable td.extra2 {
  background: #cccccc;
  text-align: center;
  vertical-align: middle;
}

.textcontainer {
  background: #F2F2F2;
  width: 800px;
  padding: 40px;
  margin: 60px auto;
  box-sizing: border-box;
}

.textcontainer h1 {
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 48px;
  font-weight: normal;
  line-height: 100%;
}

.textcontainer h2 {
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 26px;
  font-weight: bold;
  line-height: 100%;
  color: #828282;
  letter-spacing: 0.1em;
}

.textcontainer p {
  margin: 0px 0px 15px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 18px;
  line-height: 160%;
}

.whitebox {
  background: #FFFFFF;
  padding: 30px;
  text-align: justify;
}

.whitebox img {
  float: left;
  margin: 0px 10px 10px 0px;
}

.whitebox p {
  line-height: 180%;
}


ul, ol {
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  margin-top: 20px;
}

li {
  font-size: 16px;
  margin: 10px 0px;
  padding-left: 10px;
}

ul li {
  color: red;
}

ul li span {
  color: black;
}
