body {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  font-size:  16px;
  color: #000;
  line-height: 160%;
}

.site-content {
  max-width: 1200px;
  margin: 0px auto;
  padding-left: 20px;
  padding-right: 20px;
  /*border: 1px solid red;*/
}


#siteHeader {
  background: #3C3C43;
}

#siteHeader .site-content {
  height: 100px;
}

#siteHeader .logo {
  float: left;
  margin-top: 33px;
}

#siteHeader .nav {
  float: right;
  margin-top: 37px;
}

.menu {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  text-align: right;
}

.menu li {
  display: inline-block;
  margin: 0px 0px 0px 30px;
}

.menu a {
  color: #FFF;
  font-size: 13px;
  font-weight: 600;

  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

#topBg {
  background: #AAAAAA;
  /*background-color: #6EDBCF;*/
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


#topBg .tab {
  display: table;
  width: 100%;
}

#topBg .cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  height: 600px;
}

#topBg h1 {
  margin: 0px;
  padding: 0px;
  color: #FFF;
  font-weight: 200;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.3em;
}

#topBg p {
  margin: 30px 0px 0px 0px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

#sectionCircles .site-content {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

#sectionCircles .box {
  display:inline-block;
  margin: 0px 30px;
}

#sectionCircles .box .circle {
  display: block;
  vertical-align: top;
  width: 150px;
  height: 150px;
  border: 1px solid #E0e0e0;
  border-radius: 50%;
}

#sectionCircles .label {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.1em;
  margin-top: 16px;
}

#sectionCircles .circle.facebook svg{
  width: 80px;
  height: auto;
  fill: #6EDBCF;
  margin-top: 33px;
}

#sectionCircles .circle.twitter {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#6EDBCF" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <path d="M492,109.5c-17.4,7.7-36,12.9-55.6,15.3c20-12,35.4-31,42.6-53.6c-18.7,11.1-39.4,19.2-61.5,23.5 C399.8,75.8,374.6,64,346.8,64c-53.5,0-96.8,43.4-96.8,96.9c0,7.6,0.8,15,2.5,22.1c-80.5-4-151.9-42.6-199.6-101.3 c-8.3,14.3-13.1,31-13.1,48.7c0,33.6,17.2,63.3,43.2,80.7C67,210.7,52,206.3,39,199c0,0.4,0,0.8,0,1.2c0,47,33.4,86.1,77.7,95 c-8.1,2.2-16.7,3.4-25.5,3.4c-6.2,0-12.3-0.6-18.2-1.8c12.3,38.5,48.1,66.5,90.5,67.3c-33.1,26-74.9,41.5-120.3,41.5 c-7.8,0-15.5-0.5-23.1-1.4C62.8,432,113.7,448,168.3,448C346.6,448,444,300.3,444,172.2c0-4.2-0.1-8.4-0.3-12.5 C462.6,146,479,129,492,109.5z"/> </svg>');
  /*background-image: url(vector/twitter.svg);*/
  background-size: 80px auto;
  background-position: center;
  background-repeat: no-repeat;
}

#sectionCircles .box .google {
  display: table;
}

#sectionCircles .google .cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}

#sectionCircles .google .cell svg {
  width: 80px;
  height: auto;
  fill: #6EDBCF;
}

#sectionCircles .circle:hover svg {
  fill: red;
}

#sectionDetails {
  background: #F2F2F2;
}

#sectionDetails .tab {
  display: table;
  width: 100%;
}

#sectionDetails .tab .cell {
  display: table-cell;
  width: 50%;
  padding: 40px;
  vertical-align: top;
}

#sectionDetails .tab .cell.left {
  background-image: url(img/details.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sectionDetails h2 {
  color: #6EDBCF;
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 0.2em;
  padding: 0px;
  margin: 0px 0px 30px 0px;
}

#sectionDetails p {
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  padding: 0px;
  margin: 20px 0px 0px 0px;
}

#sectionDetails ul {
  margin: 0px;
  padding: 56px 0px 0px 0px;
  list-style-type: none;
}

#sectionDetails li {
  position: relative;
  font-weight: 600;
  padding: 0px 0px 0px 30px;
  margin: 0px 0px 20px 0px;
}

#sectionDetails li:before {
  content: '';
  display: inline-block;
  width: 14px;
  height: 14px;
  background: #6EDBCF;
  position: absolute;
  top: 4px;
  left: 0px;
  border-radius: 50%;
}


#siteFooter {
  background: #6EDBCF;
}

#siteFooter .footer {
  height: 80px;
}

#siteFooter .logo {
  float: left;
  margin-top: 30px;
}

#siteFooter .nav {
  float: right;
  margin-top: 36px;
}

#siteFooter p {
  border-top: 1px solid rgba(255,255,255,0.35);
  padding: 50px 0px 50px 0px;
  margin: 20px 0px 0px 0px;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: rgba(0,0,0,0.6);
  /*opacity: 0.5;*/
}

/* sticky */

#topBg {
  margin-top: 100px;
}

#siteHeader {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
}

/* responsive */

@media only screen and (max-width: 1300px) {

  .site-content {
    margin: 0px 50px;
  }

}

@media only screen and (max-width: 840px) {

  .site-content {
    margin: 0px 10px;
  }

  #siteHeader .site-content {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }

  #siteHeader .logo,  #siteHeader .nav {
    float: none;
  }

  #siteHeader .nav {
    margin-top: 15px;
  }

  .menu {
    text-align: center;
  }

  .menu li {
    display: inline;
  }

  #topBg .cell {
    max-height: 600px;
    min-height: 400px;
    height: 80vh;
  }

  #topBg h1 {
    font-size: 24px;
  }

  #sectionCircles .box {
    margin-bottom: 40px;
  }

  #sectionDetails .tab {
    display: block;
    width: auto;
  }

  #sectionDetails .tab .cell {
    display: block;
    width: auto;
  }

  #siteFooter .footer {
    height: auto;
    text-align: center;
    padding: 20px 0px;
  }

  #siteFooter .logo {
    float: none;
  }

  #siteFooter .nav {
    float: none;
    margin-top: 15px;
  }

  .menu li {
    margin: 0px 10px;
  }

  #siteFooter p {
    text-align: center;
  }

}


/* animations */

#topBg h1 {
  animation-name: animTitle;
  animation-duration: 1000ms;
}

@keyframes animTitle {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

#topBg p {
  transform: scale(0);
  animation-fill-mode: forwards;
  animation-name: animSubtitle;
  animation-duration: 1000ms;
  animation-delay: 1000ms;
}

@keyframes animSubtitle {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* transitions */

#siteHeader .menu a {
  transition: color 250ms;
}

#siteHeader .menu a:hover {
color: #6EDBCF;
}


#topBg {
  background-position: center center;
  background-size: 100% 100%;
  transition: background 500ms;
}

#topBg:hover {
  background-size: 150% 150%;
  transition-delay: 500ms;
}

#topBg h1 {
  transition: color 500ms;
}

#topBg:hover h1 {
  color: #000;
  transition-delay: 500ms;
}
