// main: ./style.less

#sectionTop {
  height: 400px;
  .sale {
    margin-top: 60px;

    h1 {
      font-size: 24px;
    }

    p {
      font-size: 14px;
    }
  }

  nav {
    ul {
      li {
        margin: 0px 10px;
        width: auto;

        a {
          font-size: 12px;
        }
      }
    }
  }

}

#sectionProducts {
  .box {
    width: 90%;
  }

  .box:hover {
    .product {
      transform: scale(1);
      .button {
        transform: scale(1) translateY(0px);
      }
    }
  }
}



#sectionContact {
  .bigtab {
    display: block;
    width: auto;
    .left, .right {
      display: block;
      width: auto;
    }

    .right {
      padding-left: 0px;
    }

    .left {
      padding: 30px;
      h2 {
        font-size: 20px;
        margin-bottom: 20px;
      }

      .social-box {
        position: static;
        margin-top: 40px;
        .social-link {
          width: 40px;
          height: 40px;
          i {
            font-size: 18px;
          }
        }
      }
    }
  }
}

.contact-form {
  .tab, .cell {
    display: block !important;
    width: auto !important;
  }
  .cell {
    padding: 0px !important;
  }
}
