//out: ../style.css, compress: false
@import "base.less";

body {
  margin: 0px;
  padding: 0px;
  padding-bottom: 100px;

  .fontLight;
  color: @textGray;

  .gradientBackground(@blue, @purple);
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-color: #E5E5E5;
}

.site-content {
  //border: 1px solid #FF0000;
  margin: 0px auto;
  max-width: 1200px;
}

.button {
  display: block;
  color: @white;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 100%;
  padding: 18px 20px;
  .fontBold;
  .gradientBackground(#5E50EF, #7206BB);
  .boxShadow;

  i {
    position: relative;
    float: left;
  }

  i:before {
    position: absolute;
    top: -5px;
    font-size: 25px;
  }
}

#sectionTop {
  height: 550px;

  .site-content {
    text-align: center;
    margin-top: 50px;
  }

  nav {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 50px 0px 10px 0px;

    ul {
      display: inline-block;
      list-style-type: none;
      margin: 0px;
      padding: 0px;

      li {
        display: inline-block;
        width: 100px;
        margin: 0px 20px;
        padding: 0px;
        a {
          color: @white;
          .fontBold;
          font-size: 16px;
          text-decoration: none;
          text-transform:uppercase;
        }
      }

      li:first-child {
        text-align: right;
      }

      li:last-child {
        text-align: left;
      }
    }
  }

  .sale {
    margin-top: 100px;
    height: 120px;
    perspective: 500px;

    h1 {
      display: inline-block;
      margin: 0px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      .decorBold;
      font-size: 54px;
      color: @white;
      text-align: center;
      text-transform: uppercase;

      opacity: 0;
      animation-name: h1Anim;
      animation-duration: 1000ms;
      animation-delay: 1000ms;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }

    @keyframes h1Anim {
      0% {
        opacity: 0;
        transform: scale(0);
      }

      80% {
        opacity: 0.8;
        transform: scale(1.2);
      }

      100% {
        opacity: 1;
        transform: scale(1);
      }
    }

    p {
      margin: 20px 0px 0px 0px;
      padding: 0px 0px 0px 0px;
      .fontLight;
      font-size: 20px;
      color: @white;
      letter-spacing: 0.1em;

      opacity: 0;
      animation-name: pAnim;
      animation-duration: 500ms;
      animation-delay: 1500ms;
      animation-fill-mode: forwards;
    }

    @keyframes pAnim {
      from {
        opacity: 0;
        transform: rotateX(180deg);
      }

      to {
        opacity: 1;
        transform: rotateX(0deg);
      }
    }
  }
}

#sectionProducts {

  font-size: 0px;
  text-align: center;

  .box {
    display: inline-block;
    width: 30%;
    margin: 0px 0px 30px 0px;
    padding: 10px;
    vertical-align: top;

    .product {
      //height: 400px;
      padding: 20px;
      text-align: center;
      background: @white;
      box-shadow: 5px 5px 15px rgba(0,0,0,0.2);

      img {
        display: inline-block;
        width: 100%;
        max-width: 220px;
        height: auto;
      }

      .details {
        height: 160px;
        position: relative;
        font-size: 18px;

        h3 {
          margin: 20px 0px 10px 0px;
          padding: 0px 0px 0px 0px;
          font-size: 27px;
          color: @black;
          .decorRegular;
          text-align: left;
        }

        .lead {
          .fontRegular;
          font-size: 16px;
          line-height: 160%;
          color: @textGray;
          text-align: left;
        }

        .price {
          .decorRegular;
          font-size: 32px;
          color: @textGray;
          text-align: right;
          margin-top: 10px;

          b {
            font-weight: 400;
            font-size: 20px;
          }
        }

        .button {
          position: absolute;
          left: 0px;
          right: 0px;
          bottom: -40px;
        }
      }
    }
  }

  @boxDuration: 400ms;
  @boxDelay: 200ms;

  .box {
    //transition: background @boxDuration;
    perspective: 500px;

    .product {
      transition: all @boxDuration;
      transition-delay: @boxDelay;

      img {
        transition: all @boxDuration * 2;
      }

      .button {
        transition: all @boxDuration;
        transition-delay: @boxDelay;
      }
    }
  }

  .box:hover {
    //background: red;
    .product {
      transform: scale(0.9);

      .button {
        transform: scale(1.25) translateY(20px);
      }
    }

  }

  .box.selected {
    .product {
      background: #F3F3F3;

      img {
        transform: rotateY(180deg);
      }
    }

    .button {
      .gradientBackground(#BBB, #888);
    }
  }
}

#sectionContact {
  margin: 100px 0px;

  .site-content {
    box-sizing: border-box;
    padding: 0px 3%;
  }

  .tab {
    display: table;
    width: 100%;

    .cell {
      display: table-cell;
      text-align: left;
      vertical-align: top;
    }
  }

  .left {
    background-color: @white;
    width: 40%;
    padding: 40px;
    position: relative;

    .social-box {
      position: absolute;
      left: 0px;
      right: 0px;
      bottom: 40px;

      .tab .cell {
        width: 33%;
        text-align: center;
      }

      .social-link {
        display: inline-block;
        width: 60px;
        height: 60px;
        background: @purple;
        border-radius: 60px;

        i {
          display: inline-block;
          margin: 10px 0px 0px 2px;
          font-size: 36px;
          color: @white;
        }
      }
    }

    h2 {
      margin: 0px 0px 40px 0px;
      padding: 0px 0px 0px 0px;
      .decorBold;
      font-size: 24px;
      color: @black;
      text-transform: uppercase;
    }

    h3 {
      margin: 0px 0px 10px 0px;
      padding: 0px 0px 0px 0px;
      .fontRegular;
      font-size: 24px;
      color: @black;
    }

    p {
      margin: 0px 0px 10px 0px;
      padding: 0px 0px 0px 0px;
      .fontRegular;
      font-size: 18px;
      line-height: 160%;
      color: @black;

      span {
        display: inline-block;
        width: 80px;
      }

      a {
        color: @purple;
      }
    }
  }

  .right {
    padding: 40px 0px 0px 40px;

    h2 {
      margin: 0px 0px 40px 0px;
      padding: 0px 0px 8px 0px;
      .decorBold;
      font-size: 24px;
      color: @textGray;
      text-transform: uppercase;
      border-bottom: 1px solid @textGray;
    }
  }


}

form {

  .cell:first-child {
    padding-right: 5px;
  }

  .cell:last-child {
    padding-left: 5px;
  }

  .button {
    border: none;
    box-sizing: border-box;
    width: 100%;
    .gradientBackground(#19BDF6, #4E6BF2);
    text-align: left;

    i {
      float: right;
    }

    i:before {
      right: 5px;
    }

  }

  .row {
    margin-bottom: 20px;
    span {
      display: block;
      .fontMedium;
      font-size: 14px;
      color: @textGray;
      margin-bottom: 4px;
    }

    input, textarea {
      box-sizing: border-box;
      width: 100%;
      height: 40px;
      margin: 0px;
      padding: 2px 15px 0px 15px;
      font-size: 16px;
      border: none;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
    }

    textarea {
      height: 200px;
      .fontRegular;
      padding: 15px;
      resize: vertical;
    }
  }

}

/* TABLET */
@media only screen and (min-width: 600px) and (max-width: 830px) {
  @import "tablet.less";
}


/* MOBILE */
@media only screen and (max-width: 599px) {
  @import "mobile.less";
}
