// main: ./style.less

#sectionTop {
  height: 400px;

  .sale {
    margin-top: 60px;

    h1 {
      font-size: 30px;
    }

    p {
      font-size: 14px;
    }
  }
}


#sectionProducts {
  .box {
    width: 45%;
  }

  .box:hover {
    .product {
      transform: scale(1);
      .button {
        transform: scale(1) translateY(0px);
      }
    }
  }
}

#sectionContact {
  .bigtab {
    display: block;
    width: auto;
    .left, .right {
      display: block;
      width: auto;
    }

    .right {
      padding-left: 0px;
    }

    .left {
      .social-box {
        position: static;
        margin-top: 40px;
      }
    }
  }
}
