body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  color: #000;
  line-height: 140%;
}


.site-content {
  width: 890px;
  margin: 0px auto;
}


#siteHeader {
  background: #3C3C43;
}

#siteHeader .site-content {
  height: 100px;
}

.header {
  padding-top: 33px;
}

.header .logo {
  float: left;
}

.header nav {
  float: right;
}

.menu {
  margin: 0px;
  margin-top: 8px;
  padding: 0px;
  list-style-type: none;
}

.menu li {
  display: inline-block;
  margin: 0px 0px 0px 30px;
}

.menu li a {
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#topBg {
  background: green;
  background-color: blue;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#topBg .tab {
  display: table;
  width: 100%;
}

#topBg .tab .cell {
  display: table-cell;
  height: 600px;
  text-align: center;
  vertical-align: middle;
}

#topBg h1 {
  margin: 0px;
  padding: 0px;
  color: #FFF;
  font-weight: 200;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.3em;
}

#topBg p {
  margin: 30px 0px 0px 0px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

#sectionCircles .site-content {
  text-align: center;
  padding: 100px 0px;
}

#sectionCircles .box {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin: 0px 30px;
  /*background: rgba(0,0,0,0.3);*/
}

#sectionCircles .label {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.1em;
}


#sectionCircles .circle {
  display: block;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
}


#sectionCircles .facebook svg {
  width: 80px;
  height: auto;
  margin-top: 37px;
  fill: #6EDBCF;
}

#sectionCircles .twitter {
  background-image: url(vector/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px auto;
}

#sectionCircles .google {
  display: table;
}

#sectionCircles .cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#sectionCircles .cell svg {
  width: 80px;
  height: auto;
  fill: #6EDBCF;
  vertical-align: middle;
}

#sectionCircles .google:hover svg {
  fill: purple;
}

#sectionDetails {
  background: #F2F2F2;
}

#sectionDetails .tab {
  display: table;
  width: 100%;
}

#sectionDetails .cell {
  display: table-cell;
  text-align: left;
  vertical-align: top;
  width: 50%;
  padding: 50px;
}

#sectionDetails .left {
  background-image: url(img/details.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sectionDetails .left h2 {
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 0.2em;
  color: #6EDBCF;
  padding: 0px;
  margin: 10px 0px 30px 0px;
}

#sectionDetails .left p {
  font-size: 16px;
  line-height: 170%;
  text-align: justify;
  font-weight: 600;
}

#sectionDetails .right ul {
  list-style-type: none;
  margin: 58px 0px 0px 0px;
  padding: 0px 0px 0px 24px;
}

#sectionDetails .right li {
  position: relative;
  margin: 0px;
  padding: 7px 0px 7px 0px;
  font-weight: 600;
}

#sectionDetails .right li:before {
  content: "";
  display:block;
  width: 6px;
  height: 6px;
  background: #6EDBCF;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  left: -24px;
}

#siteFooter {
  background: #6EDBCF;
}

#siteFooter .site-content {
  height: 250px;
}

#siteFooter .logo {
  float: left;
}

#siteFooter nav {
  float: right;
}

#siteFooter .footer {
  height: 36px;
  padding: 50px 0px 40px 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.5);
}

#siteFooter p {
  font-size: 11px;
  opacity: 0.5;
  line-height: 120%;
}

/* sticky */

#topBg {
  margin-top: 100px;
}

#siteHeader {
  position: fixed;
  z-index: 100;
  top: 0px;
  left:0px;
  right: 0px;
}

/* responsive  */

@media only screen and (max-width: 960px) {
  .site-content {
    width: auto;
    margin: 0px 50px;
  }
}


@media only screen and (max-width: 800px) {
  .site-content {
    margin: 0px 10px;
  }

  #siteHeader .site-content {
    height: auto;
    padding-bottom: 30px;
    text-align: center;
  }

  #siteHeader .logo {
    float: none;
  }

  #siteHeader nav {
    float: none;
  }

  #topBg h1 {
    font-size: 28px;
  }

  #topBg p {
    margin-top: 10px;
    font-size: 14px;
  }

  #topBg .tab .cell {
    height: 70vh;
    max-height: 500px;
  }

  #sectionCircles .box {
    margin-bottom: 50px;
  }

  #sectionDetails .tab {
    display: block;
    width: auto;
  }

  #sectionDetails .cell {
    display: block;
    width: auto;
    padding: 20px;
  }

  #siteFooter .footer {
    height: auto;
    text-align: center;
  }

  #siteFooter .logo, #siteFooter nav {
    float: none;
  }

  #siteFooter .site-content {
    height: auto;
    padding-bottom: 30px;
  }

  #siteFooter p {
    text-align: center;
  }

}


/* animations  */

#topBg h1 {
  animation-name: animTitle;
  animation-duration:  1000ms;
}

@keyframes animTitle {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }

}

#topBg p {
  transform: scaleY(0);
  transform-origin: bottom center;
  animation-name: animParagraph;
  animation-duration: 1000ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

@keyframes animParagraph {
  0% {
    transform: scaleY(0);
  }
  60% {
    transform: scaleY(3);
  }
  100% {
    transform: scaleY(1);
  }
}

/* transitions */

.menu a {
  transition: color 500ms;
}

.menu a:hover {
    color: #6EDBCF;
}

#topBg {
    background-size: 100% 100%;
    transition: background 500ms;
}

#topBg:hover {
  background-size: 150% 150%;
  transition-delay: 500ms;
}
