.fontLight {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
}
.fontRegular {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}
.fontMedium {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}
.fontBold {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
}
.decorRegular {
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
}
.decorBold {
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
}
body {
  margin: 0px;
  padding: 0px;
  padding-bottom: 100px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  color: #828282;
  background: #4973F3;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4973F3, #7206BB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#4973F3, #7206BB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#4973F3, #7206BB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#4973F3, #7206BB);
  /* Standard syntax */
  background-repeat: no-repeat;
  background-size: 100% 700px;
  background-color: #E5E5E5;
}
.site-content {
  margin: 0px auto;
  max-width: 1200px;
}
.button {
  display: block;
  color: #FFFFFF;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 100%;
  padding: 18px 20px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  background: #5E50EF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#5E50EF, #7206BB);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#5E50EF, #7206BB);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#5E50EF, #7206BB);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#5E50EF, #7206BB);
  /* Standard syntax */
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
}
.button i {
  position: relative;
  float: left;
}
.button i:before {
  position: absolute;
  top: -5px;
  font-size: 25px;
}
#sectionTop {
  height: 550px;
}
#sectionTop .site-content {
  text-align: center;
  margin-top: 50px;
}
#sectionTop nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding: 50px 0px 10px 0px;
}
#sectionTop nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
#sectionTop nav ul li {
  display: inline-block;
  width: 100px;
  margin: 0px 20px;
  padding: 0px;
}
#sectionTop nav ul li a {
  color: #FFFFFF;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
}
#sectionTop nav ul li:first-child {
  text-align: right;
}
#sectionTop nav ul li:last-child {
  text-align: left;
}
#sectionTop .sale {
  margin-top: 100px;
  height: 120px;
  perspective: 500px;
}
#sectionTop .sale h1 {
  display: inline-block;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 54px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  opacity: 0;
  animation-name: h1Anim;
  animation-duration: 1000ms;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes h1Anim {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    opacity: 0.8;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
#sectionTop .sale p {
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  font-size: 20px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  opacity: 0;
  animation-name: pAnim;
  animation-duration: 500ms;
  animation-delay: 1500ms;
  animation-fill-mode: forwards;
}
@keyframes pAnim {
  from {
    opacity: 0;
    transform: rotateX(180deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
#sectionProducts {
  font-size: 0px;
  text-align: center;
}
#sectionProducts .box {
  display: inline-block;
  width: 30%;
  margin: 0px 0px 30px 0px;
  padding: 10px;
  vertical-align: top;
}
#sectionProducts .box .product {
  padding: 20px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}
#sectionProducts .box .product img {
  display: inline-block;
  width: 100%;
  max-width: 220px;
  height: auto;
}
#sectionProducts .box .product .details {
  height: 160px;
  position: relative;
  font-size: 18px;
}
#sectionProducts .box .product .details h3 {
  margin: 20px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 27px;
  color: #000000;
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  text-align: left;
}
#sectionProducts .box .product .details .lead {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  color: #828282;
  text-align: left;
}
#sectionProducts .box .product .details .price {
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  font-size: 32px;
  color: #828282;
  text-align: right;
  margin-top: 10px;
}
#sectionProducts .box .product .details .price b {
  font-weight: 400;
  font-size: 20px;
}
#sectionProducts .box .product .details .button {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -40px;
}
#sectionProducts .box {
  perspective: 500px;
}
#sectionProducts .box .product {
  transition: all 400ms;
  transition-delay: 200ms;
}
#sectionProducts .box .product img {
  transition: all 800ms;
}
#sectionProducts .box .product .button {
  transition: all 400ms;
  transition-delay: 200ms;
}
#sectionProducts .box:hover .product {
  transform: scale(0.9);
}
#sectionProducts .box:hover .product .button {
  transform: scale(1.25) translateY(20px);
}
#sectionProducts .box.selected .product {
  background: #F3F3F3;
}
#sectionProducts .box.selected .product img {
  transform: rotateY(180deg);
}
#sectionProducts .box.selected .button {
  background: #BBB;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#BBB, #888);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#BBB, #888);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#BBB, #888);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#BBB, #888);
  /* Standard syntax */
}
#sectionContact {
  margin: 100px 0px;
}
#sectionContact .site-content {
  box-sizing: border-box;
  padding: 0px 3%;
}
#sectionContact .tab {
  display: table;
  width: 100%;
}
#sectionContact .tab .cell {
  display: table-cell;
  text-align: left;
  vertical-align: top;
}
#sectionContact .left {
  background-color: #FFFFFF;
  width: 40%;
  padding: 40px;
  position: relative;
}
#sectionContact .left .social-box {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 40px;
}
#sectionContact .left .social-box .tab .cell {
  width: 33%;
  text-align: center;
}
#sectionContact .left .social-box .social-link {
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #7206BB;
  border-radius: 60px;
}
#sectionContact .left .social-box .social-link i {
  display: inline-block;
  margin: 10px 0px 0px 2px;
  font-size: 36px;
  color: #FFFFFF;
}
#sectionContact .left h2 {
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  text-transform: uppercase;
}
#sectionContact .left h3 {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 24px;
  color: #000000;
}
#sectionContact .left p {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 0px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
}
#sectionContact .left p span {
  display: inline-block;
  width: 80px;
}
#sectionContact .left p a {
  color: #7206BB;
}
#sectionContact .right {
  padding: 40px 0px 0px 40px;
}
#sectionContact .right h2 {
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 8px 0px;
  font-family: 'Old Standard TT', serif;
  font-weight: 700;
  font-size: 24px;
  color: #828282;
  text-transform: uppercase;
  border-bottom: 1px solid #828282;
}
form .cell:first-child {
  padding-right: 5px;
}
form .cell:last-child {
  padding-left: 5px;
}
form .button {
  border: none;
  box-sizing: border-box;
  width: 100%;
  background: #19BDF6;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#19BDF6, #4E6BF2);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#19BDF6, #4E6BF2);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#19BDF6, #4E6BF2);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#19BDF6, #4E6BF2);
  /* Standard syntax */
  text-align: left;
}
form .button i {
  float: right;
}
form .button i:before {
  right: 5px;
}
form .row {
  margin-bottom: 20px;
}
form .row span {
  display: block;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #828282;
  margin-bottom: 4px;
}
form .row input,
form .row textarea {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 2px 15px 0px 15px;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2) inset;
}
form .row textarea {
  height: 200px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  padding: 15px;
  resize: vertical;
}
/* TABLET */
@media only screen and (min-width: 600px) and (max-width: 830px) {
  #sectionTop {
    height: 400px;
  }
  #sectionTop .sale {
    margin-top: 60px;
  }
  #sectionTop .sale h1 {
    font-size: 30px;
  }
  #sectionTop .sale p {
    font-size: 14px;
  }
  #sectionProducts .box {
    width: 45%;
  }
  #sectionProducts .box:hover .product {
    transform: scale(1);
  }
  #sectionProducts .box:hover .product .button {
    transform: scale(1) translateY(0px);
  }
  #sectionContact .bigtab {
    display: block;
    width: auto;
  }
  #sectionContact .bigtab .left,
  #sectionContact .bigtab .right {
    display: block;
    width: auto;
  }
  #sectionContact .bigtab .right {
    padding-left: 0px;
  }
  #sectionContact .bigtab .left .social-box {
    position: static;
    margin-top: 40px;
  }
}
/* MOBILE */
@media only screen and (max-width: 599px) {
  #sectionTop {
    height: 400px;
  }
  #sectionTop .sale {
    margin-top: 60px;
  }
  #sectionTop .sale h1 {
    font-size: 24px;
  }
  #sectionTop .sale p {
    font-size: 14px;
  }
  #sectionTop nav ul li {
    margin: 0px 10px;
    width: auto;
  }
  #sectionTop nav ul li a {
    font-size: 12px;
  }
  #sectionProducts .box {
    width: 90%;
  }
  #sectionProducts .box:hover .product {
    transform: scale(1);
  }
  #sectionProducts .box:hover .product .button {
    transform: scale(1) translateY(0px);
  }
  #sectionContact .bigtab {
    display: block;
    width: auto;
  }
  #sectionContact .bigtab .left,
  #sectionContact .bigtab .right {
    display: block;
    width: auto;
  }
  #sectionContact .bigtab .right {
    padding-left: 0px;
  }
  #sectionContact .bigtab .left {
    padding: 30px;
  }
  #sectionContact .bigtab .left h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  #sectionContact .bigtab .left .social-box {
    position: static;
    margin-top: 40px;
  }
  #sectionContact .bigtab .left .social-box .social-link {
    width: 40px;
    height: 40px;
  }
  #sectionContact .bigtab .left .social-box .social-link i {
    font-size: 18px;
  }
  .contact-form .tab,
  .contact-form .cell {
    display: block !important;
    width: auto !important;
  }
  .contact-form .cell {
    padding: 0px !important;
  }
}
