body {
  padding: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 140%;
}

.site-content{
  /*width: 890px;
  margin: 0px auto;*/
  max-width: 1200px;
  margin: 0px auto;
  /*border: 1px solid #000;*/
}

#siteHeader{
  background: #3C3C43;
}

#siteHeader .site-content {
  height: 100px;
}

#siteHeader .logo{
  float: left;
}

#siteHeader .nav{
  float: right;
}

#siteHeader .header{
  padding-top: 33px;
}

.menu {
  margin: 8px 0px 0px 0px;
  padding: 0px;
  list-style-type: none;
}

.menu li {
  display: inline;
  margin: 0px 0px 0px 30px;
}

.menu a {
  color: #FFF;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
}


#topBg {
  /*background: #AAAAAA;*/
  background-color: #6EDBCF;
  background-repeat: no-repeat;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center bottom;
}

#topBg table {
  width: 100%;
}

#topBg table td {
  height: 600px;
  text-align: center;
  vertical-align: middle;
}

#topBg .tab {
  display: table;
  width: 100%;
}

#topBg .tab .cell {
  display: table-cell;
  height: 600px;
  text-align: center;
  vertical-align: middle;
}

#topBg h1{
  margin: 0px;
  padding: 0px;
  color: #FFF;
  font-weight: 200;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: 0.3em;
}

#topBg p {
  margin: 30px 0px 0px 0px;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

/* Circles */

#sectionCircles .site-content{
  text-align: center;
  padding: 100px 0px;
}

#sectionCircles .box {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin: 0px 30px;
  /*background: rgba(0, 0, 0, 0.2);*/
}

#sectionCircles .label {
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.1em;
}

#sectionCircles .circle {
  display: block;
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border-radius: 150px;
  border: 1px solid #E0E0E0;
}

#sectionCircles .facebook img {
  width: 80px;
  margin-top: 37px;
}

#sectionCircles .facebook svg {
  width: 80px;
  height: 80px;
  margin-top: 37px;
  fill: #6EDBCF;
}

/*#sectionCircles .twitter {
  background-image: url(vector/twitter.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px auto;
}*/

#sectionCircles .twitter {
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#6EDBCF" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <path d="M492,109.5c-17.4,7.7-36,12.9-55.6,15.3c20-12,35.4-31,42.6-53.6c-18.7,11.1-39.4,19.2-61.5,23.5 C399.8,75.8,374.6,64,346.8,64c-53.5,0-96.8,43.4-96.8,96.9c0,7.6,0.8,15,2.5,22.1c-80.5-4-151.9-42.6-199.6-101.3 c-8.3,14.3-13.1,31-13.1,48.7c0,33.6,17.2,63.3,43.2,80.7C67,210.7,52,206.3,39,199c0,0.4,0,0.8,0,1.2c0,47,33.4,86.1,77.7,95 c-8.1,2.2-16.7,3.4-25.5,3.4c-6.2,0-12.3-0.6-18.2-1.8c12.3,38.5,48.1,66.5,90.5,67.3c-33.1,26-74.9,41.5-120.3,41.5 c-7.8,0-15.5-0.5-23.1-1.4C62.8,432,113.7,448,168.3,448C346.6,448,444,300.3,444,172.2c0-4.2-0.1-8.4-0.3-12.5 C462.6,146,479,129,492,109.5z"/> </svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px auto;
}
/*
#sectionCircles .google {
  background-image: url(vector/google-green.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px auto;
}*/

#sectionCircles .google {
  display: table;
}

#sectionCircles .google .cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#sectionCircles .google .cell svg {
  width: 80px;
  height: auto;
  fill: #6EDBCF;
  vertical-align: middle;
}

/* Details */

#sectionDetails {
  background: #F2F2F2;
}

#sectionDetails .site-content {
  min-height: 100px;
}

#sectionDetails .tab {
  display: table;
  width: 100%;
}

#sectionDetails .cell {
  display: table-cell;
  text-align: left;
  vertical-align: top;
  width: 50%;
  padding: 50px;
}

#sectionDetails .left {
  background-image: url(img/details.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h2 {
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 0.2em;
  color: #6EDBCF;
  margin: 10px 0px 30px 0px;
  padding: 0px;
}

#sectionDetails p {
  font-size: 16px;
  line-height: 170%;
  text-align: justify;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

#sectionDetails ul {
  list-style-type: none;
  margin: 58px 0px 0px 0px;
  padding: 0px 0px 0px 24px;
}

#sectionDetails li {
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 7px 0px 7px 0px;
  font-weight: 600;
}

#sectionDetails li:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #6EDBCF;
  position: absolute;
  top: 14px;
  left: -24px;
  border-radius: 6px;
}

/* Footer */

#siteFooter {
  background: #6EDBCF;
}

#siteFooter .site-content {
  height: 250px;
}

#siteFooter .logo{
  float: left;
}

#siteFooter .nav{
  float: right;
}

#siteFooter .footer{
  height: 36px;
  padding: 50px 0px 40px 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

#siteFooter .menu li a {
  color: #000000;
}

#siteFooter p {
  opacity: 0.5;
  font-size: 12px;
  color: #000000;
}

/* sticky */

#topBg{
  margin-top: 100px;
}

#siteHeader {
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
}

/* responsive */

@media only screen and (max-width: 1300px) {

  .site-content {
    margin: 0px 50px;
    /*border: 1px solid #FF0000;*/
  }

}

@media only screen and (max-width: 800px) {

  .site-content {
    margin: 0px 10px;
    /*border: 1px solid #00FF00;*/
  }

  #siteHeader .site-content {
    height: auto;
    padding-bottom: 30px;
    text-align: center;
  }

  #siteHeader .logo {
      float: none;
  }

  #siteHeader .nav {
      float: none;
  }

  .menu li {
    display: inline;
    margin: 0px 10px 10px 10px;
  }

  #topBg h1 {
    font-size: 36px;
  }

  #sectionCircles .box {
    margin: 0px 30px 60px 30px;
  }

  #sectionDetails .tab {
      display: block;
      width: auto;
  }

  #sectionDetails .cell {
    display: block;
    width: auto;
  }

  #siteFooter .site-content {
    height: auto;
    padding-bottom: 30px;
    text-align: center;
  }

  #siteFooter .footer {
    height: auto;
  }

  #siteFooter .logo {
      float: none;
  }

  #siteFooter .nav {
      float: none;
  }

}

/* Animation */

@media only screen and (min-width: 800px) {
  #topBg h1 {
    animation-name: animTitle;
    animation-duration: 1000ms;
  }

  @keyframes animTitle {
    from {
      font-size: 0px;
      opacity: 0;
      letter-spacing: 0.3em;
    }

    to {
      font-size: 48px;
      opacity: 1;
      letter-spacing: 0.3em;
    }
  }

  #topBg p {
    font-size: 0px;
    opacity: 0;
    animation-name: animParagraph;
    animation-duration: 1000ms;
    animation-delay: 1000ms;
    animation-fill-mode: forwards;
  }

  @keyframes animParagraph {
    0% {
      font-size: 0px;
      opacity: 0;
    }

    60% {
      font-size: 25px;
      opacity: 0.6;
    }

    100% {
      font-size: 18px;
      opacity: 1;
    }
  }

  /* transitions */
  .menu a {
      transition: color 300ms;
  }

  .menu a:hover {
    color: #6EDBCF;
  }

  #topBg {
    background-position: center center;
    background-size: 100% 100%; /* nem egyenlő cover */
    transition: background 500ms;
    transition-delay: 0ms;
  }

  #topBg:hover {
    background-size: 150% 150%;
    transition-delay: 500ms;
  }


}
