body{
  margin: 0px;
  padding: 0px;
}

/* CONTAINER */

.container {
  width: 800px;
  height: 350px;
  padding: 50px;
  margin: 60px auto;
  box-sizing: border-box;

  font-size: 24px;
  letter-spacing: 0.2em;
  line-height: 120%;

  background: #FFE887;
}

/* TABLE */

.mytable {
  border-spacing: 10px;
  border-collapse: separate;
  width: 820px;
  margin: 60px auto;
}

.mytable td {
  height: 140px;
  width: 33%;
  box-sizing: border-box;
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  letter-spacing: 0.05em;
  border: 1px solid #FFE887;
}

.mytable td:nth-child(2) {
  text-align: right;
  vertical-align: bottom;
}

.mytable td:nth-child(3) {
  text-align: center;;
  vertical-align: middle;
}

.mytable tr:nth-child(2) td {
  padding: 20px;
}

.mytable .extra1 {
  background: #F2F2F2;
}

.mytable td.extra2{
  text-align: center;
  vertical-align: middle;
}

/* TEXTS */

.textcontainer {
  width: 800px;
  box-sizing: border-box;
  padding: 50px;
  margin: 60px auto;
  background: #F2F2F2;
}

.textcontainer h1 {
  margin: 0px 0px 16px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 48px;
  line-height: 100%;
  font-weight: normal;
}

.textcontainer h2 {
  margin: 0;
  padding: 0;
  font-size: 26px;
  line-height: 100%;
  font-weight: normal;
  color: #828282;
  letter-spacing: 0.1em;
}

.textcontainer p {
  font-size: 18px;
  line-height: 150%;
}

.textcontainer .whitebox {
  padding: 26px 30px;
  background: #FFFFFF;
}

.textcontainer .whitebox p {
  margin: 0;
  text-align: justify;
}

.textcontainer .whitebox img {
  float: left;
  margin: 0px 16px 12px 0px;
}

.textcontainer ul, ol {
  margin: 30px 0px;
  padding: 0px 0px 0px 20px;
}

.textcontainer li {
  font-size: 18px;
  margin: 5px 0px;
}
