body {
  margin: 0px;
  padding: 0px;
}

.container {
  /*
  margin: 50px;
  margin: 10px 20px;
  margin: 10px 20px 30px 40px;
  margin-top: 100px;
  */
  margin: 100px auto;
  padding: 50px;
  width: 800px;
  box-sizing: border-box;
  height: 350px;
  background: #FFE887;
}

.container h1 {
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  line-height: 120%;
}

#mytable {
  margin: 100px auto;
  width: 800px;
  border-collapse: separate;
  border-spacing: 10px;
}

#mytable td {
  border: 1px solid #FFE887;
  width: 33%;
  height: 140px;
  text-align: left;
  vertical-align: top;
}

#mytable td:nth-child(2) {
  text-align: center;
  vertical-align: middle;
}

#mytable td:last-child {
  text-align: right;
  vertical-align: bottom;
}

#mytable td.extra {
  text-align: center;
  vertical-align: middle;
  background: #FFE887;
}

.textcontainer {
  background: #f2f2f2;
  padding: 50px;
  width: 800px;
  margin: 100px auto;
  box-sizing: border-box;
}

.textcontainer h2 {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 48px;
  line-height: 100%;
  font-weight: normal;
}

.textcontainer h3 {
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 0px 0px;
  font-size: 26px;
  line-height: 100%;
  color: #828282;
}

.textcontainer p {
  font-size: 18px;
  line-height: 150%;
}

.whitebox {
  background: #FFF;
  padding: 40px;
}

.whitebox p {
  margin: 0px;
  text-align: justify;
}

.whitebox img {
  float: left;
  margin-right: 15px;
}

ol, ul {
  margin: 0px;
  padding: 0px;
  margin-top: 40px;
  padding-left: 20px;
}

ol li, ul li {
margin-bottom: 15px;
font-size: 18px;
}

ul li {
  color: red;
}

ul li span {
  color: black;
}
