//out:  ../style.css, compress: false
@import "base.less";

body {
  margin: 0;
  padding: 0;
  background: @white;
  .fontLight;
  color: @blue;
  .gradientBackground(#8B03E6, #08E0FF);
  background-color: #E5E5E5;
  background-repeat: no-repeat;
  background-size: 100% 700px;
}

.site-content {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  //border: 1px solid @white;
}

.button {
  display:block;
  color: @white;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 100%;
  padding: 18px 20px;
  .fontBold;
  .gradientBackground(#5E50EF, #7206BB);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);

  i {
    float: left;
    position: relative;
  }

  i:before {
    position: absolute;
    font-size: 25px;
    top: -5px;
    left: 0;
  }
}

#sectionTop {
  text-align: center;

  .logo {
    display: inline-block;
    margin: 70px 0px 70px 0px;
  }

  nav {

    ul {
      margin: 0;
      padding: 0 0 10px 0;
      list-style-type: none;
      border-bottom: 1px solid rgba(255,255,255,0.5);

      li {
        display: inline-block;
        margin: 0 20px;
        padding: 0;

        a {
          text-decoration: none;
          color: @white;
          .fontBold;
          font-size: 16px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
        }
      }
    }

  }

  .sale {
    h1 {
      margin: 70px 0 10px 0;
      padding: 0;
      color: @white;
      .decorBold;
      font-size: 54px;
      text-transform: uppercase;
    }

    p {
      margin: 0;
      padding: 0;
      color: @white;
      font-size: 20px;
      letter-spacing: 0.15em;
    }
  }
}


#sectionProducts {
  padding-top: 100px;
  text-align: center;

  .box {
    perspective: 500px;
    display: inline-block;
    width: 33%;
    padding: 20px 10px;
    margin: 0px -3px 20px;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;

    .product {
      background: @white;
      box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
      padding: 25px;
      transition: all 500ms;
      transition-delay: 0ms;

      .image {
        display: block;
        width: 100%;
        height: auto;
      }

      .details {
        height: 160px;
        position: relative;

        .button {
          position: absolute;
          left: 0;
          right: 0;
          bottom: -50px;
          transition: all 500ms;
          transition-delay: 0ms;
        }

        h3 {
          margin: 0;
          padding: 0;
          .decorRegular;
          color: @black;
          font-size: 27px;
        }

        .lead {
          .fontRegular;
          font-size: 16px;
          line-height: 160%;
          color: #828282;
          margin-top: 15px;
          padding-right: 50px;
        }

        .price {
          .decorRegular;
          font-size: 32px;
          color: #bdbdbd;
          text-align: right;

          b {
            .decorRegular;
            font-size: 20px;
          }
        }

      }
    }
  }


  .box:hover {


    .product {
      transform: scale(0.8);
      transition-delay: 250ms;

      .details .button {
        transform: scale(1.25) translateY(53px);
        transition-delay: 250ms;
      }
    }
  }
}


#sectionContact {
  margin: 100px 0px;

  .tab {
    display: table;
    width: 100%;

    .cell {
      display: table-cell;
      text-align: left;
      vertical-align: top;
    }
  }

  .left {
    background: @white;
    width: 35%;
    padding: 40px;
    position: relative;

    h2 {
      margin: 0 0 40px 0;
      padding: 0;
      .decorBold;
      color: @black;
      font-size: 24px;
      text-transform: uppercase;
    }

    h3 {
      margin: 0 0 10px 0;
      padding: 0;
      .fontRegular;
      color: @black;
      font-size: 24px;
    }

    p {
      margin: 0 0 10px 0;
      padding: 0;
      .fontRegular;
      color: @textGray;
      font-size: 18px;
      line-height: 160%;

      span {
        display: inline-block;
        width: 80px;
        color: @black;
      }

      a {
        color: @blue;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .social-area {
      margin-top: 20px;
      height: 100px;


      .social-container {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: 40px;

        .cell {
          width: 33%;
          text-align: center;
          vertical-align: bottom;

          .social-link {
            display: inline-block;
            background: #f2f2f2;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            transition: all 250ms;

            i {
              display: inline-block;
              font-size: 36px;
              color: @purple;
              margin-top: 10px;
              margin-left: 2px;
              transition: all 250ms;
            }


            &:hover {
              background: @purple;
              i {
                color: @white;
              }
            }
          }
        }
      }
    }


  }


  .right {
    padding: 30px 0px 0px 40px;

    h2 {
      margin: 10px 0px 40px 0px;
      padding: 0px 0px 10px 0px;
      .decorBold;
      font-size: 24px;
      color: @textGray;
      border-bottom: 1px solid @textGray;
      text-transform: uppercase;
    }
  }
}


.input {
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 40px;
  padding: 0px 15px;
  .fontRegular;
  font-size: 16px;
  border: none;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.1) inset;
}

form {

  .row {
    margin: 0px 0px 12px 0px;

    span {
      display: block;
      .fontRegular;
      font-size: 14px;
      color: @textGray;
      margin-bottom: 2px;
    }

    input {
      .input;
    }

    textarea {
      .input;
      padding: 15px;
      height: 140px;
      resize: vertical;
    }


  }

  .button {
    border: 0;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    .gradientBackground(#19BDF6, #4E6BF2);

    i {
      float: right;
      padding-right: 20px;
    }
  }

  .tab {
    .cell:first-child {
      padding-right: 10px;
    }

    .cell:last-child {
      padding-left: 10px;
    }
  }

}



@media only screen and (min-width: 770px) and (max-width: 1050px) {
  #sectionProducts {
    .box {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1200px) {
  #sectionContact {
    .tab.wrapper {
      display: block;
      width: auto;

      .left, .right {
        display: block;
        width: auto;
      }

      .right {
        padding-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  #sectionTop {
    nav {
      ul {
        li {
          margin: 0 6px;

          a {
            font-size: 14px;
          }
        }
      }
    }

    .sale {
      h1 {
        font-size: 28px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  #sectionProducts {
    .box {
      width: 100%;

      .product {
        .details {
          height: 180px;
        }
      }
    }
  }

  #sectionContact {
    .tab.inputs {
      display: block;
      width: auto;

      .cell {
        display: block;
        width: auto;
        padding: 0;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #sectionProducts {
    .box:hover {
      .product {
        transform: none;

        .details .button {
          transform: none;
        }
      }
    }
  }

  .social-link:hover {
    background: #f2f2f2 !important;

    i {
      color: @purple !important;
    }
  }
}
