body {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}


#siteHeader {
  background: #3c3c3c;
}

.site-content {
  /*border: 1px solid #FF0000;*/
  /*width: 900px;*/
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
}

#siteHeader nav {
  float: right;
  margin-top: 52px;
}

#siteHeader .site-content {
  height: 120px;
}

#siteHeader .logo {
  float: left;
  margin-top: 43px;
}

.menu ul {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  list-style-type: none;
}

.menu li {
  display: inline-block;
  margin-left: 15px;
}

.menu a {
  color: #FFFFFF;
  font-size: 13px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration:none;
}

#siteBg {
  height: 600px;
  background-color: #AAAAAA;
  background-image: url(img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#siteBg .tab {
  display: table;
  width: 100%;
}

#siteBg .cell {
  display: table-cell;
  height: 600px;
  text-align: center;
  vertical-align: middle;
}

#siteBg h1 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: 200;
  font-size: 48px;
  color: #FFFFFF;
  letter-spacing: 0.2em;
}

#siteBg p {
  font-weight: 600;
  font-size: 18px;
}

#sectionCircles .site-content {
  text-align: center;
  padding: 50px 0px;
}

#sectionCircles .box {
  display: inline-block;
  width: 250px;
  height: 300px;
}

#sectionCircles .box .circle {
  display: inline-block;
  border: 1px solid #CCC;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  margin-bottom: 40px;
  text-align: center;
}


#sectionCircles .box .label {
  display: block;
  text-align: center;
}

#sectionCircles .box .circle svg {
  display: inline-block;
  width: 100px;
  height: auto;
  margin-top: 25px;
}

svg path {
  fill: #6EDBCF;
}

.twitter {
  background-image: url(vector/twitter.svg);
/*
  background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" fill="#6EDBCF" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"> <path d="M492,109.5c-17.4,7.7-36,12.9-55.6,15.3c20-12,35.4-31,42.6-53.6c-18.7,11.1-39.4,19.2-61.5,23.5 C399.8,75.8,374.6,64,346.8,64c-53.5,0-96.8,43.4-96.8,96.9c0,7.6,0.8,15,2.5,22.1c-80.5-4-151.9-42.6-199.6-101.3 c-8.3,14.3-13.1,31-13.1,48.7c0,33.6,17.2,63.3,43.2,80.7C67,210.7,52,206.3,39,199c0,0.4,0,0.8,0,1.2c0,47,33.4,86.1,77.7,95 c-8.1,2.2-16.7,3.4-25.5,3.4c-6.2,0-12.3-0.6-18.2-1.8c12.3,38.5,48.1,66.5,90.5,67.3c-33.1,26-74.9,41.5-120.3,41.5 c-7.8,0-15.5-0.5-23.1-1.4C62.8,432,113.7,448,168.3,448C346.6,448,444,300.3,444,172.2c0-4.2-0.1-8.4-0.3-12.5 C462.6,146,479,129,492,109.5z"/> </svg>');

  */
  background-repeat: no-repeat;
  background-size: 100px auto;
  background-position: center;
}


.box .circle .tab {
  display: table;
  width: 100%;
}

.box .circle .cell {
  display: table-cell;
  height: 150px;
  text-align: center;
  vertical-align: middle;
}

#sectionCircles .box .circle .cell svg {
  display: inline-block;
  width: 100px;
  height: auto;
  margin-top: 0px;
}

#sectionDetails {
  background: #f2f2f2;
}

#sectionDetails .site-content {
  min-height: 300px;
}

#sectionDetails .tab {
  display: table;
  width: 100%;
}

#sectionDetails .cell {
  display: table-cell;
  text-align: left;
  vertical-align: top;
  width: 50%;
  padding: 50px;
}

#sectionDetails .left h3 {
  font-size: 36px;
  color: #6EDBCF;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  font-weight: normal;
  letter-spacing: 0.3em;
}

#sectionDetails .left p {
  font-size: 18px;
  line-height: 160%;
  text-align: justify;
}

#sectionDetails .left {
  background-image: url(img/details.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#sectionDetails .right ul {
  margin: 0px;
  padding: 0px;
  margin-top: 60px;
}

#sectionDetails .right li {
  font-size: 18px;
  margin-bottom: 25px;
  list-style-type: none;
}


#sectionDetails .right li:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #6EDBCF;
  border-radius: 10px;
  margin: 0px 15px 2px 0px;
}


#siteFooter {
  background: #6EDBCF;
  padding: 50px 0px;
}

#siteFooter .menu {
  float: right;
  margin-top: 10px;
}

#siteFooter .menu a {
  color: #000000;
}

.copyright {
  margin-top: 20px;
  border-top: 1px solid #FFFFFF;
  padding-top: 20px;
  font-size: 10px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.5;
}
