body {
  padding: 0px;
  margin: 0px;
}

.container {
  background: #FFE887;
  height: 350px;
  width: 800px;
  margin: 50px auto;
  padding: 50px;
  box-sizing: border-box;

  font-size: 24px;
  letter-spacing: 0.2em;
  line-height: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
  width: 820px;
  margin: 50px auto;
}

td {
  background: #FFE887;
  height: 140px;
  text-align: left;
  vertical-align: top;
  box-sizing: border-box;
}

td:nth-child(2) {
  text-align: center;
  vertical-align: middle;
}

td:nth-child(3) {
  text-align: right;
  vertical-align: bottom;
}

tr:nth-child(2) td {
  padding: 20px;
}

tr .extra1, .extra2 {
  background: #CCCCCC;
  text-align: center;
  vertical-align: middle;
}
